In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('rrf_data.csv')

In [5]:
df.head()

,Unnamed: 0,LoanNumber,ApprovalDate,BusinessName,BusinessAddress,BusinessCity,BusinessState,BusinessZip,GrantAmount,FranchiseName,...,grant_purpose_payroll,grant_purpose_rent,grant_purpose_supplies,grant_purpose_utility,LegalOrganizationType,LMIIndicator,SocioeconmicIndicator,VeteranIndicator,WomenOwnedIndicator,RestaurantType
0,0,1036429110,06/17/2021,KB V LLC,852 W Fulton Market St,Chicago,IL,60607,819728.20,NaN,...,Y,Y,Y,Y,Limited Liability Company(LLC),N,N,N,N,Restaurant
1,1,1036439102,06/17/2021,Champs Diner,197 Meserole Street,Brooklyn,NY,11206,1766654.57,NaN,...,Y,Y,Y,N,Subchapter S Corporation,Y,N,N,N,Restaurant
2,2,1036449105,06/17/2021,KRH LLC,5055 N High St,Columbus,OH,43214,51044.00,Subway,...,Y,Y,Y,Y,Limited Liability Company(LLC),N,N,N,N,Restaurant
3,3,1036459108,06/17/2021,Del Road,550 W Date St Ste B,San Diego,CA,92101,1414662.20,NaN,...,Y,Y,Y,Y,Limited Liability Company(LLC),N,N,N,N,Restaurant
4,4,1036469100,06/17/2021,DOJ DONUTS LLC,25 MARKET STREET,TRENTON,NJ,8611,310688.00,Dunkin' Donuts,...,Y,Y,Y,Y,Limited Liability Company(LLC),Y,N,N,N,Restaurant

In [6]:
df.columns

Index(['Unnamed: 0', 'LoanNumber', 'ApprovalDate', 'BusinessName',
       'BusinessAddress', 'BusinessCity', 'BusinessState', 'BusinessZip',
       'GrantAmount', 'FranchiseName', 'RuralUrbanIndicator',
       'HubzoneIndicator', 'CD', 'grant_purp_cons_outdoor_seating',
       'grant_purpose_covered_supplier', 'grant_purpose_debt',
       'grant_purpose_food', 'grant_purpose_maintenance_indoor',
       'grant_purpose_operations', 'grant_purpose_payroll',
       'grant_purpose_rent', 'grant_purpose_supplies', 'grant_purpose_utility',
       'LegalOrganizationType', 'LMIIndicator', 'SocioeconmicIndicator',
       'VeteranIndicator', 'WomenOwnedIndicator', 'RestaurantType'],
      dtype='object')

In [10]:
df.BusinessState.value_counts()

CA    15962
NY     9753
TX     6372
FL     5710
IL     4533
PA     3504
MI     3288
WA     3236
NJ     3077
OH     2830
VA     2717
GA     2656
NC     2569
MA     2551
OR     2337
WI     2091
MD     2018
CO     1763
MN     1717
LA     1388
AZ     1324
CT     1300
IN     1189
MO     1189
TN     1159
HI     1145
SC     1042
AL      874
IA      847
KY      808
NV      763
DC      729
OK      684
ME      629
KS      602
NM      601
AR      507
MS      505
NE      470
UT      468
RI      442
NH      417
AK      384
VT      366
PR      339
MT      328
ID      304
DE      285
WV      272
SD      193
ND      170
WY      123
GU       79
VI       28
MP       12
AS        1
Name: BusinessState, dtype: int64

In [11]:
df.WomenOwnedIndicator.value_counts()

N    56676
Y    43974
Name: WomenOwnedIndicator, dtype: int64